{% extends 'base.html' %}
{% load rest_framework %}

{% block content %}
<div class="border-b border-gray-200 px-4 py-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8">
  <div class="flex-1 min-w-0">
    <h1 class="text-lg font-medium leading-6 text-gray-900 sm:truncate">
      {{ serializer.instance.provider }}
    </h1>
  </div>

  <div class="mt-4 flex sm:mt-0 sm:ml-4">
    <a href="{% url "web_connection_edit" guid=guid organization_guid=organization_guid%}" class="order-0 inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500 sm:order-1 sm:ml-3">Edit</a>

    <a href="{% url "web_domain_edit" connection_guid=guid guid="new" %}"
      class="order-0 inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500 sm:order-1 sm:ml-3">Add Domain</a>
  </div>
</div>

<div class="bg-white shadow overflow-hidden sm:rounded-lg m-4">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg leading-6 font-medium text-gray-900">Connection Information</h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">Use to configure Service Provider (SP)</p>
  </div>
  <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
    <dl class="sm:divide-y sm:divide-gray-200">
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">SP Entity ID</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{serializer.instance.sp_entity_id}}</dd>
      </div>
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">ACS URL</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{serializer.instance.acs_url}}</dd>
      </div>
    </dl>
  </div>
</div>

{% if serializer.instance %}
  {% include "saml_connection/domain_list.html" with connection_guid=serializer.instance.guid domains=serializer.instance.domain_set.all %}
{% endif %}


{% endblock %}
