{% extends 'base.html' %}
{% load rest_framework %}


{% block content %}
<!-- Page title & actions -->
<div class="border-b border-gray-200 px-4 py-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8">
  <div class="flex-1 min-w-0">
    <h1 class="text-lg font-medium leading-6 text-gray-900 sm:truncate">Organizations</h1>
  </div>
  <div class="mt-4 flex sm:mt-0 sm:ml-4">
    <a href="{% url "web_organization_edit" guid="new"%}" class="order-0 inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500 sm:order-1 sm:ml-3">Create</a>
  </div>
</div>

<div class="hidden sm:block">
  <div class="align-middle inline-block min-w-full border-b border-gray-200">
    <table class="min-w-full">
      <thead>
        <tr class="border-t border-gray-200">
          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            <span class="lg:pl-2">Organization</span>
          </th>
          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Connections</th>
          <th class="hidden md:table-cell px-6 py-3 border-b border-gray-200 bg-gray-50 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">Created</th>
          <th class="pr-6 py-3 border-b border-gray-200 bg-gray-50 text-right text-xs font-medium text-gray-500 uppercase tracking-wider"></th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-100">
        {% for organization in organizations %}
        <tr>
          <td class="px-6 py-3 max-w-0 w-full whitespace-nowrap text-sm font-medium text-gray-900">
            <div class="flex items-center space-x-3 lg:pl-2">
              <div class="flex-shrink-0 w-2.5 h-2.5 rounded-full bg-pink-600" aria-hidden="true"></div>
              <a href="{% url "web_organization_detail" guid=organization.guid %}"
                class="truncate hover:text-gray-600">
                <span>
                  {{organization.name}}
                  <span class="text-gray-500 font-normal">in Engineering</span>
                </span>
              </a>
            </div>
          </td>
          <td class="px-6 py-3 text-sm text-gray-500 font-medium">
            <div class="flex items-center space-x-2">
              {% for connection in organization.samlconnection_set.all %}
                <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-gray-100 text-gray-800"> {{ connection.provider }} </span>
              {% endfor %}
            </div>
          </td>
          <td class="hidden md:table-cell px-6 py-3 whitespace-nowrap text-sm text-gray-500 text-right">{{organization.created_at}}</td>
          <td class="px-6 py-3 whitespace-nowrap text-right text-sm font-medium">
            <a href="{% url "web_organization_detail" guid=organization.guid %}"
              class="text-indigo-600 hover:text-indigo-900">
              Edit
            </a>
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
