{% extends 'base.html' %}
{% load rest_framework %}

{% block content %}
<div class="md:grid md:grid-cols-3 md:gap-6">
  <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
    <form method="post" action="{% url "web_domain_edit" connection_guid=connection_guid guid=guid %}">
      {% csrf_token %}
      {% render_form serializer template_pack='forms' %}
      <div class="mt-1">
        <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-teal-600 hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500">Submit</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
